# @package hydra.sweeper
_target_: hydra_plugins.hydra_optuna_sweeper.optuna_sweeper.OptunaSweeper

direction: maximize
study_name: null
storage: null
n_trials: 10
n_jobs: 1

sampler:
  _target_: optuna.samplers.TPESampler
  seed: 1

params:
  # -------------------------
  # Output dimension per modality (Table 4)
  # -------------------------
  "OUTPUT_DIM_PER_MODALITY": choice(256,384,512,768,1024,1536,2048,3072,4096)

search_space: null
custom_search_space: null