# @package hydra.sweeper
_target_: hydra_plugins.hydra_optuna_sweeper.optuna_sweeper.OptunaSweeper

direction: maximize
study_name: null
storage: null
n_trials: 10
n_jobs: 1

sampler:
  _target_: optuna.samplers.TPESampler
  seed: 1


params:
  "model.classifier.hidden_dim": choice(128,256,512,1024,2048,4096)
  "model.classifier.depth": choice(1,2,3,4,5,6,7)
  "model.optimizer_factory.lr": choice(1e-5,3e-5,1e-4,3e-4,1e-3)
  "model.optimizer_factory.weight_decay": choice(1e-6,3e-6,1e-5,3e-5,1e-4,3e-4,1e-3,3e-3,1e-2)
  "model.encoder.dropout_rate": choice(0.0,0.05,0.1,0.25,0.5)

search_space: null
custom_search_space: null